@inherits LayoutComponentBase
@using BusinessAsUsual.Web.Components.Layout.Sections
@using BusinessAsUsual.Web.Themes

<ThemeProviderWrapper />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<div class="app-shell">
    <MudLayout>

        <MudAppBar Elevation="1">
            <MainTopBar Modules="@Modules"
                        OverflowModules="@OverflowModules"
                        CurrentModule="@_currentModule"
                        CurrentTenant="@CurrentTenant"
                        OnToggleSidebar="ToggleSidebar" />
        </MudAppBar>

        @if (_currentModule is not null)
        {
            <MudDrawer @bind-Open="_sidebarOpen"
                        Anchor="Anchor.Left"
                        Variant="@SidebarVariant"
                        Elevation="1"
                        ClipMode="DrawerClipMode.Always">
            
                    <Sidebar CurrentModule="@ActiveModule" OnNavigate="HandleNavigate" />
            </MudDrawer>
        }

        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.False" Class="pa-4">

                @if (HeaderService.Header != null)
                {
                    <div class="page-header-container">
                        @HeaderService.Header
                    </div>
                }

                <div class="page-body">
                    @Body
                </div>

                <AppBottomBar CurrentTenant="@CurrentTenant"
                                AvailableTenants="@AvailableTenants"
                                OnTenantChanged="HandleTenantChanged" />
            </MudContainer>
        </MudMainContent>

    </MudLayout>
</div>

@code {
    // TODO: create module in future
    // private ModuleDefinition? _currentModule;

    // void SelectModule(ModuleDefinition module)
    // {
    //     _currentModule = module;
    //     _sidebarOpen = true;
    //     StateHasChanged();
    // }
}